*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.img-calculator{
    width: 20px;
    display: flex;
    margin:5px;
}
.icons{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    /* border: 1px solid rgb(129, 39, 39);  */
  }
  /* .hamburguer-wrapper{

  } */

.left-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

  .historial{
    display:flex;
    align-items:center; 
    /* border: 1px solid black; */
    
  }

.hamburguer {
    width: 20px;
    height: 2px;
    background-color: whitesmoke;
    margin: 5px;
  }
  

.container{
    font-family:sans-serif;
    color:whitesmoke;
    background-color: green;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.box{
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    padding: 6px;
    min-width: 320px;
    padding-bottom: 15px;
}

.display{
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    text-align: right;
    gap:10px;
    margin-top: 5px;
    margin-bottom: -2px;
    border: 1px solid black;
    height: 25%;
}
 .history{
    
    font-size: 0.8em;
    opacity: 0.6;
    display: inline-block;
   

} 
/* Acabar que no se muevan las M 
trato de hacerlo con el max height 
y con el tamaño de letra*/
.result{
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    height: 65px;
    display: inline-block;
    max-width: 100%; /* Establece el ancho máximo igual al contenedor padre */
    overflow: hidden; /* Oculta cualquier texto que no quepa en el span */
    font-size: auto;

    &:after{
    content: "\00a0"; /* Agrega un espacio no rompible para forzar el ajuste del tamaño de letra */
    display: inline-block;
    width: 100%; /* Ocupa todo el ancho disponible */
    font-size: 20px;
    }
     

}
.display.letter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: small;
    /* border: 1px solid rgb(252, 8, 8); */
    word-spacing: 25px;
    margin-bottom: 1px;
    

}

.wrapper{
    background-color: rgb(32, 32, 32);    
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Define dos columnas de igual tamaño */
    row-gap: 2px;
    column-gap: 2px;
    /* border: 1px solid yellow; */
}
.key{
    background-color: rgb(70, 70, 70);
    border-radius: 5px;
    padding: 20px;
    height: 53px;
    cursor: pointer;
    /* padding-bottom: 17px; */
    &:hover{
        background-color: rgb(50, 50, 50);
    }
    
}

.dark{
    background-color: rgb(50, 50, 50);
    &:hover{
        background-color:rgb(70, 70, 70); 
    }
}

.key.equals{
    background-color: #d8aade ; 
}

.key.equals:hover{
    background-color: #db9ee3 ;
}
.split{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
